
.image{
    width: 10.125rem;
    height: 10.125rem;
  border-radius: 8px;
  transform: rotate(-90deg);
  margin: 2rem;
  opacity: 30%;
}
.js{
    background: #f8e8001a;
  border: 1px solid rgb(222, 247, 1);
}
.html{
    background: #ff7c301a;
    border: 1px solid rgb(247, 161, 1);
}
marquee{
    padding: 0.5rem 1rem;
}
.node{
    background: #9eff301a;
    border: 1px solid rgb(0, 156, 65);

}
.react{
    background: #30e0ff1a;
    border: 1px solid rgb(1, 210, 247);
    
}
.git{
    background: #ff7c301a;
    border: 1px solid rgb(247, 38, 1);

}
.boot{
    background: #bd30ff1a;
    border: 1px solid rgb(206, 1, 247);

}
.css{
    background: #309bff1a;
    border: 1px solid rgb(1, 87, 247);

}
.express{
    background: #fff1301a;
    border: 1px solid rgb(222, 247, 1);

}
.mongo{
    background: #0074272c;
    border: 1px solid rgb(1, 247, 34);
}
.mongo:hover{
    box-shadow:-2px -2px 6px #004853;
    transition: transform 0.3s ease;
}
progress{
  width: 10%;
  position: absolute;
  top:13.5rem;
}
/* @media screen and (max-width: 768px) {
     progress{
       width: 20%;
       height: 15px;
       position: absolute;
       left:calc(100% - 78%);
       top: 15.5rem;
}   
} */

@media screen and (max-width: 425px){
     progress{
       width: 35%;
       height: 15px;
       position: absolute;
       left:calc(100% - 68%);
       top: 15.5rem;
       background-color: BLUE;
}  
.image{
    width: 5.125rem;
    height: 5.125rem;
    filter: grayscale(100%);
  
} 
}