.about-section {
  padding: 4rem 2rem;
  background-color: #0d0012;
  color: white;
  min-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.wrap-cont{
  border-radius: 5px;
  padding: 1rem 3.5rem 0 3.5rem;
  text-align: left;
}

.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #c7f1fc;
}

.about-section p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #b0b0ff;
}

@media (max-width:425px) {
  .wrap-cont{
   text-align: center;
   padding: 2rem 1rem;
  }
  
}