.contact-form-container{
  background:  linear-gradient(  #0d0012, #2a0d4a);
  justify-items: center;
  padding: 2rem;
}
.contactUs-content{
  width: 100%;
  overflow: hidden;
}
.contactUs-content a{
  color: #dbdbdb;
}
.envelope{
  color: #2bb7e2;
  font-size: 1.4rem;
  transform: translate(0rem, 0.23rem);
}
.email-title{
  color: #c9c9c9;
  font-weight: 300;
}
.contactUs{
  width: 50%;
  background-color: #00051f;
  padding: 2rem;
  text-align: left;
}
.direct-contact{
  text-align: bottom;
  transform: translate(0rem, 6.6rem);
}
.watsapp{
  font-size: 1rem;
  font-weight: 700;
  color: #e9e9e9;
  transform: translate(0rem, 0.1rem);
}
.direct-contact a{
  padding: 0.5rem 4rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #239e41;
  color: white;
  cursor: pointer;
  border: none;
  transform: translate(0rem, 0.45rem);
}
.hireCTa{
  display: inline-flex;
  gap: .5rem;
}
.hireCTa-h1{
  display: inline;
  border-bottom: 2px solid #8a2be2;
}
.cv-button{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color:  #731cffee;
  color: white;
  cursor: pointer;
  position: absolute;
  transform: translate( 0rem, 1rem); 
  text-decoration: none;

}
.contact-section {
  display: flex;
  justify-content: center ;
  width: 90%;
  background-color: rgb(234, 227, 236);
  border-radius: .3125rem;
  text-align: left;
}

.form-section{
  padding: 2rem;
  text-align: center;
  width: 50%;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #3c2981;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}

.contact-form label {
  font-weight: 600;
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
  color: #26263a;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #8a2be2;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  resize: vertical;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 1px solid #8a2be2;
  background-color: #1a1a40;
  color: white;
}

.contact-form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color:  #6bb8ff;
  color: white;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #150027;
}

@media (max-width: 425px) {
  .contact-section {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    font-size: 14px;
  }
  .cv-button{
    display: none;
  }
  .direct-contact{
    transform: translate(0rem, 1rem);
  }
  .direct-contact a{
    padding: 0.5rem 1rem;
    font-size: 14px;
  }
  .watsapp{
    font-size: 1rem;
    font-weight: 900;
    transform: translate(0rem, 0.1rem);}
  /* .contactUs-content{
    font-size: 14px;
  } */
  .form-section, .contactUs{
    width: 100%;
  }
  
}