.contact-form-container{
  background:  linear-gradient(  #0d0012, #2a0d4a);
  justify-items: center;
  padding: 2rem;
}

.contactUs{
  width: 50%;
  background-color: #00051f;
  padding: 2rem;
  text-align: left;
}
.hireCTa{
  display: inline-flex;
  gap: .5rem;
}
.hireCTa-h1{
  display: inline;
  border-bottom: 2px solid #8a2be2;
}
.contact-section {
  display: flex;
  justify-content: center ;
  width: 90%;
  background-color: rgb(234, 227, 236);
  border-radius: .3125rem;
  text-align: left;
}
.form-section{
  padding: 2rem;
  text-align: center;
  width: 50%;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #3c2981;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}

.contact-form label {
  font-weight: 600;
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
  color: #26263a;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #8a2be2;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  resize: vertical;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 1px solid #8a2be2;
  background-color: #1a1a40;
  color: white;
}

.contact-form button {
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 30px;
  background: #0f19a7;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #150027;
}
