@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Exo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&family=Shippori+Mincho+B1&display=swap" rel="stylesheet');
.hero-section {
  min-width: 100%;
  min-height:100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 5px;
  padding: 5rem 5rem 0;
  font-family: 'inter', sans-serif;
  background: linear-gradient(rgb(0, 39, 75),#0d0012);
}

.hero-content {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  /* padding: 5rem; */
  text-align: left;
  z-index: 2;
  width:50%;
}

.hero-title {
  font-size: 2.5rem;
  color: whitesmoke;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15rem solid ;
  animation: typing 4s steps(15), blink-caret 1s step-end infinite;
}

.typewriter {
  color: #00e1ff;
  font-weight: 400;
  font-family:"Orbitron", sans-serif;
}

.hero-subtitle {
  font-size: clamp(1rem, 2.5vw, 1.5rem); 
  margin: 0.5rem 0 1rem ;
  color: #cecece;
  font-weight: 300;
}
.proficiency{
  color: #00e1ff;
  font-weight: 300;
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  animation:  introduction 3s infinite ease-in-out;;
}

@keyframes introduction {
  0% { opacity: 0; }
  15% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}


.hero-description {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 200;
  color: #e0fbff;
  line-height: 1.5;
}

.hero-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: 1px solid #03ddffb6;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  background-color:  #000c2629;
  box-shadow:inset 2px 2px 6px #03ddff94, 
  inset -2px -2px 6px #03ddff93;
  color: white;
  cursor: pointer;
  animation: puls 2s infinite;
}
.hero-button:hover {
  border: 1px solid #03ddff41;
  color: #2a024f;
  font-weight: 500;
  box-shadow:inset 2px 2px 6px #005b69a4, 
             inset -2px -2px 6px #004853;
  background-color: #03cdff;
  transition: background-color 0.8s ease-in,border 0.5s ease, color 0.8s ease;
}
.hero-btn-contact {
  padding: .75rem 1.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  border: 1px solid #2a024f;
  border-radius: 0.5rem;
  background-color:#c403ffb6;
  color: white;
  cursor: pointer;
  margin: 0.5rem;
  box-shadow:inset 4px 4px 6px #2a024f, 
  inset -4px -4px 6px #2a024f;
  animation: puls 3s infinite;
}

.hero-btn-contact:hover {
  box-shadow:inset 4px 4px 6px #6600c5d0, 
             inset -4px -4px 6px #6600c5d0;
  transition: background-color 1s ease;
  background: #2a024f;
}

.hero-image {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
  justify-items: center;
  padding: 5rem;
}

.hero-image img {
  border: 3px solid #cb46ff;
  border-radius: 5px;
  /* width: 100%;
  height:50%; */
  object-fit: cover;
  display: block;
}



/* Animations */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15ch;
  }
}

@keyframes blink-caret {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #2be2e2;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(75, 108, 183, 0.7);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 10px 10px rgba(75, 108, 183, 0);
  }
}

@keyframes backgroundPulse {
  0%, 100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}

/* -------- Media Queries -------- */

/* @media (max-width: 320px) {
  .hero-background{
  background: rgb(22, 1, 56);
  }
  .hero-title {
    font-size: 1.2rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
  .hero-button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }
  .hero-image {
    width: 10rem;
    height: 10rem;
  }
} */

@media (max-width: 425px) {
  .hero-section{
    flex-direction: column-reverse;
    padding: 2.5rem 1rem;
  }
  .hero-image{
    padding: none;
    width: 100%;
  }
  .hero-content{
    width: 100%;
  }
  .hero-title {
    font-size: 1.7rem;
  }
  .hero-description{
    font-weight: 400;
  }
  .hero-subtitle {
    /* font-size: 5rem;
    color: red; */
    width: 100%;
  }
  .hero-content p{
    font-weight: 200;
    font-size: 0.9rem;
  }
  .hero-button {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {

  .hero-image {
    width:50%;
    padding: 2rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }

  .hero-title {
    font-size: 1.5rem;
  }

  /* .hero-subtitle {
    font-size: 1.5rem;
  } */

  .hero-button {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 3rem;
  }
  /* .hero-subtitle {
    font-size: 1.6rem;
  }
  .hero-button {
    font-size: 1.3rem;
  } */
}
/* 
@media (min-width: 1440px) {
  .hero-title {
    font-size: 3.2rem;
  }
  .hero-subtitle {
    font-size: 1.8rem;
  }
  .hero-button {
    font-size: 1.4rem;
  }
} */
/* 
@media (min-width: 2046px) {
  .hero-title {
    font-size: 4rem;
  }
  .hero-subtitle {
    font-size: 2rem;
  }
  .hero-button {
    font-size: 1.6rem;
    padding: 1rem 2.5rem;
  }

  .hero-image {
    width: 25rem;
    height: 25rem;
    
  }
}  */
