.projects-section {
  border: 1px solid rgba(128, 128, 128, 0.288);
  color: rgb(32, 32, 32);
  margin: 0 auto;
  background: rgba(55, 52, 56, 0.514);
  text-align: center;
  padding: 2rem 4rem ;
  border-radius: 10px;
}
.project-Parent{
  padding: 2rem 4rem ;
  min-width: 100%;
  background: linear-gradient(  #0d0012, #2a0d4a);
}
.projects-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  color:#c7f1fc;
  animation: fadeInDown 1s ease forwards;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}
